/**********Estrurura**********/

body {
    margin: 0px;
}

/*Barra de navegação (Inicio)*/

.nav-bar {
    background-color: #BBDDFF;
    padding: 20px 30px;
    border-bottom: 1px solid black;
    position: sticky;
    top: 0;
    margin-top: -1%x;
}

.nav-bar a {
    padding: 10px 10px 0px 0px;
    text-decoration: none;
    color: black;
    margin: 20px;
    position: relative;
    left: 50%;
}

.nav-bar span a{
    color: white;
    background-color: black;
    padding: 15px;
    border-radius: 30px;
}

.nav-bar img {
    position: relative;
    left: 3%;
}

/*Conteúdo central (Inicio)*/

.conteudo {
    position: relative;
    bottom: 5vh;
}

.principal {
    background-color: #BBDDFF;
    margin: 0px;
    padding: 0% 5% 0% 5%;
    display: flex;
    border-bottom: 1px solid black;
    padding-bottom: 2%;
}

.principal h1{
    font-size: 10vh;
    margin-bottom: 0px;
    font-weight: 500;
}

.principal p{
    margin-top: 0px;
}

.principal button{
    padding: 1.5% 4%;
    border-radius: 20px;
}

.principal img {
    width: 30%;
    left: 30%;
    position: relative;
    top: 1.5em;
}

.principal::after {
    content: " ";
    clear: both;
    display: block;
}

/**********Estrurura**********/



/**********Tipografia**********/